* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.3);
  padding: 10px;
  width: 300px;
}

form > * {
  margin: 10px;
}

.box {
  height: 200px;
  background: black;
  border-radius: 10px;
}

p {
  display: flex;
  justify-content: space-between;
}
